{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}
    <script type="text/javascript">
        document.getElementById("true-false").innerHTML = sessionStorage.getItem("email")

        if (sessionStorage.getItem("email") == null){
        document.getElementById("sign-out-li").style.visibility = "hidden"
    }
    </script>
    <div>
    <p>We are a small loving community that loves to sell all things electronic.</p>
    <p>We believe in human contact therefore our shop is mainly in-person however you can order online by clicking the "buy" button in your basket.</p>
    </div>

<p class="about-text">Contact information:
</p>
<footer>
<ul id="contact-info">
    <li>Email: Gamesforyou@info.com</li>
    <li>Phone: 072445323</li>
    <li>Location: Boscombe, BH3 3BH</li>
</ul>
</footer>

{% endblock %}