{% extends "base.html" %}
{% set active_page = "basket" %}
{% block content %}
    <script type="text/javascript">
        document.getElementById("true-false").innerHTML = sessionStorage.getItem("email")

        if (sessionStorage.getItem("email") == null){
        document.getElementById("sign-out-li").style.visibility = "hidden"
    }
    </script>
 <div class="products"> <div class="product"><ul id="basket-ul">{% for i in response["items"] %}
        <li class="{{ i.email }}">{{ i.product }}<br>
         <form method="post">
            <input style="visibility: hidden" name="email" value="{{ i.email }}">
            <input style="visibility: hidden" name="product" value ={{ i.product }}>
            <button class="button" type="submit">Delete</button>
        </form>
        <form action="/create-checkout-session" method="POST">
             <input name="product" value="{{ i.product }}">
            <button type="submit">Buy</button>
        </form>

     </li>
 {% endfor %}
 </ul>
 </div>
 </div>

{#    <p>{{ response["items"][0].email }}</p>#}
{#    {% for i in response["items"] %}#}
{#        <p class="{{ i.email }}">{{ i.product }}</p>#}
{#    {% endfor %}#}


<script>
var basket_items = document.getElementById("basket-ul")
var email = document.getElementById("true-false").innerHTML = sessionStorage.getItem("email")
console.log("shown below")
console.log(email, "email")




const ul = document.querySelector('#basket-ul');
{##}
{#// Get all the li elements within the ul element#}
const lis = ul.querySelectorAll('li');
var list = []
// Loop through each li element
lis.forEach(li => {

    // If the li element has a class of "x", show it
    if (li.classList.contains(`${email}`)) {
        li.style.display = 'block';

    }
    // If the li element has a class of "y", hide it
    else {
        li.style.display = 'none';
    }
});

function calculateTotal(){

}

</script>
{% endblock %}






