{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% set active_page = "login" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel = "stylesheet" href = "static/css/main.css">
</head>
<body>
  <div class = "login-container">
    <div id= "main">
      <h1>Sign In</h1>
      <input id = "email" type = "text" placeholder = "Email"></input>
      <input id = "password" type = "password" placeholder = "Password"></input>
      <button id = "submit">Submit</button>
      <p><span>or</span></p>
      <button id = "sign-up">Sign Up</button>
    </div>

    <div id = "create-acct">
      <h1>Create an Account</h1>
      <input id = "email-signup" type = "text" placeholder = "Email *"></input>
  <input id = "confirm-email-signup" type = "email" placeholder = "Confirm Email *"></input>
      <input id = "password-signup" type = "password" placeholder = "Password *"></input>
      <input id = "confirm-password-signup" type = "password" placeholder = "Confirm Password *"></input>
      <button id = "create-acct-btn">Create Account</button>
      <button id = "return-btn">Return to Login</button>
    </div>
  </div>
  <p id="false-false" style="visibility: hidden">False</p>
  <script type = "module" src = "/static/app.js"></script>
<p id="paragraph2"></p>
</body>
</html>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    function myfunction() {

        const firstname = email
        const lastname = "none"


        const dict_values = {firstname, lastname} //Pass the javascript variables to a dictionary.
        const s = JSON.stringify(dict_values); // Stringify converts a JavaScript object or value to a JSON string
        console.log(s); // Prints the variables to console window, which are in the JSON format
        window.alert(s)
        $.ajax({
            url:"/logged-in",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(s)});

}

if (sessionStorage.getItem("email") != null){
    document.getElementById("paragraph2").innerHTML = "Already logged in."
    document.getElementById("submit").style.visibility = "hidden"
}
</script>
{% endblock %}