{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% set active_page = "login" %}
{% block content %}
 <div class="container">
 <div class="row">
 <form action="" method="POST">
 <div class="form-group">
 <label>Name:</label>
 <input type="text" class="form-control" name="name">
 </div>
 <div class="form-group">
 <label>Password:</label>
 <input type="password" class="form-control" name="password">
 </div>
 <p>{{ error }}</p>
 <div class="form-group">
 <button class="btn btn-primary">Log in</button>
 </div>
 </form>
 </div>
 </div>
</div>
{% endblock %}