{% extends "base.html" %}
{% block content %}
    <button onclick="clearUser()" id="sign-out">Sign Out</button>

    <script>

    if (sessionStorage.getItem("email") == null){
        document.getElementById("sign-out-li").style.visibility = "hidden"
    }

    function clearUser(){
        sessionStorage.clear()
        location.reload()
        alert("Successfully signed out")
    }
    </script>


<script type="text/javascript">
        document.getElementById("true-false").innerHTML = sessionStorage.getItem("email")
</script>
{% endblock %}