{% extends "base.html" %}
{% set active_page = "write-reviews" %}
{% block content %}

<h4><u>Reviews</u></h4>
<form id="review-form" method="post" action="{{ url_for('comments') }}">
    <input id="name-holder" type="text" placeholder="Name" name="name"><br><br>
    <textarea name="review" rows="5" cols="50" placeholder="Write your review here"></textarea><br><br>
    <button type="submit" id="submit-review">Submit</button>
</form>
<p id="paragraph"></p>
<script type="text/javascript">
        document.getElementById("true-false").innerHTML = sessionStorage.getItem("email")
        if (sessionStorage.getItem("email") != null){
            document.getElementById("name-holder").value = sessionStorage.getItem("email")
            document.getElementById("name-holder").style.visibility = "hidden"
        } else {
            document.getElementById("paragraph").innerHTML = "Must be logged in to write a review."
            document.getElementById("submit-review").style.visibility = "hidden"
        }

        if (sessionStorage.getItem("email") == null){
        document.getElementById("sign-out-li").style.visibility = "hidden"
    }
</script>
{% endblock %}